.banner-fondo{
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner-fondo::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../img/sombreado-banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-fondo .conteBanner {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-600px,-50%);
    z-index: 2;
}


.textLeft {
    text-align: left;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    letter-spacing: -2px;
}

h2 {
    font-size: 45px;
    line-height: 45px;
    color: #1c3259;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    letter-spacing: -2px;
}

h5 {
    font-size: 25px;
    line-height: 30px;
    color: #2c2b2b;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

p {
    margin: 20px 0px;
    font-size: 18px;
    line-height: 24px;
    color: #2c2b2b;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.conteRight {
    width: 50%;
    float: right;
}

.col2 li {
    float: left;
    width: 50%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
}

.banner-fondo1{
    background: #e7ecf1;
    z-index: 1;
}

.banner-fondo1 .conteRight:nth-child(1) {
    width: 90%;
}

.banner-fondo1 .conteResponsabilidad {
    padding: 100px 200px 50px 100px;
    background: #fff;
    margin-top: -40px;
    -webkit-box-shadow: 10px 15px 10px 0px rgb(0 0 0 / 50%);
    -moz-box-shadow: 10px 15px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 15px 10px 0px rgb(0 0 0 / 50%);
    position: relative;
    z-index: auto;
}

.banner-fondo1 .conteResponsabilidad::before {
    font-size: 100px;
    line-height: 100px;
    color: #373737;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    left: -560px;
    opacity: 0.1;
    transform: rotate(-90deg);
    content: 'responsabilidad';
    position: absolute;
    z-index: -1;
    top: 670px;
}

.textUpper {
    text-transform: uppercase;
}

.banner-fondo1 h5 {
    margin: 10px 0px;
}

.banner-fondo1 h2 {
    margin: 10px 0px 50px;
}

.banner-fondo1 .imagen {
    display: table-cell;
    height: 550px;
    vertical-align: middle;
}

img {
    display: block;
    width: 100%;
    border: none;
}

.clear {
    clear: both;
    height: 0px;
}

.banner-fondo1 .col2 li:nth-child(1) {
    width: 65%;
}

.banner-fondo1  .col2 li:nth-child(2) {
    width: 35%;
}

.banner-fondo1 .conteImg {
    width: 80%;
    height: 600px;
    background-image: url(../img/img-s2\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 0px;
}

.banner-fondo1 .conteImg::before {
    content: '';
    width: 150px;
    height: 166px;
    background-image: url(../img/item-A.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: -75px;
    margin-top: -83px;
}

.clear40 {
    clear: both;
    height: 40px;
}

.contenedor {
    width: 1200px;
    margin: 0px auto;
    position: relative;
}

section {
    position: relative;
}

.banner-fondo2 {
    background: #e7ecf1;
}

.banner-fondo2::before {
    content: 'medio ambiente';
    font-size: 100px;
    line-height: 100px;
    color: #373737;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.1;
}

.banner-fondo2 .contenedor .conteLeft{
    width: 90%;
    margin-left: -90px;
    padding-bottom: 25px;
}

.pc{
    display: block;
}

.movil{
    display: none!important;
}

.textCenter {
    text-align: center;
}

.banner-fondo3{
    padding: 220px 0px 120px;
    background-image: url(../img/bg_s4.jpg);
}

.bg{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.banner-fondo3 h5, .banner-fondo3 h2, .banner-fondo3 h3 {
    color: #fff;
}

.banner-fondo3 h2{
    margin: 10px 0px 20px;
}

h3
{
    font-size: 35px;
    line-height: 35px;
    color: #1c3259;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
}

.banner-fondo4{
    padding: 60px 0px 80px;
    background: #e7ecf1;
    z-index: 3;
}

.banner-fondo4 .contenedor {
    padding: 0 40px;
}

.banner-fondo4 .contenedor::before {
    content: 'Seguridad';
    font-size: 100px;
    line-height: 100px;
    color: #373737;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 290px;
    left: -343px;
    opacity: 0.1;
    transform: rotate(-90deg);
}

.banner-fondo4 .conte {
    display: table-cell;
    height: 450px;
    vertical-align: middle;
}

.banner-fondo4 .conteImg {
    width: 100%;
    position: relative;
    margin: 90px 0px;
}

.banner-fondo4 .diagrama{
    padding-left: 70px;
    padding-top: 70px;
}

.banner-fondo5{
    padding: 0px 0px 80px;
    background: #e7ecf1;
    z-index: 2;
}


.banner-fondo5 h2 {
    margin-top: 80px;
}

.banner-fondo5 .flex {
    display: flex;
    align-items: center;
}

.banner-fondo5 .flex img{
    width: 15%;
}


.banner-fondo5 .flex h5 {
    color: #3a54a5;
}

.banner-fondo5 p.textLeft {
    margin-top: 40px;
    padding-left: 100px;
}

.banner-fondo5 .contenedor::before {
    content: '';
    width: 1400px;
    height: 720px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -95px;
    z-index: -1;
    left: -110px;
    -webkit-box-shadow: 10px 15px 10px 0px rgb(0 0 0 / 50%);
    -moz-box-shadow: 10px 15px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 15px 10px 0px rgb(0 0 0 / 50%);
}

.banner-fondo5 .contenedor::after {
    content: '';
    width: 159px;
    height: 175px;
    background-image: url(../img/responsabilidad/semicirculo-s5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -60px;
    bottom: -200px;
}
@media screen and (max-width: 1200px) {
    .contenedor{
        width: 95%;
    }
    .textLeft, .textRight {
        text-align: center;
    }
    h1 {
        font-size: 40px;
    }
    h4, h5 {
        font-size: 20px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
    }
    .banner-fondo{
        height: 500px;
    }
    .banner-fondo .conteBanner {
        position: inherit!important;
        width: 320px!important;
        transform: translate(-160px,-50%);
    }
    .banner-fondo1 .conteRight:nth-child(1) {
        width: 100%;
        padding: 30px;
    }
    .banner-fondo1 .conteImg {
        height: 400px;
    }
    .banner-fondo1 .col2 li:nth-child(1) {
        width: 100%;
    }
    .banner-fondo1 .imagen {
        display: none;
    }
    .banner-fondo1 .conteImg {
        height: 400px;
    }
    .banner-fondo1 .conteImg::before {
        width: 120px;
        height: 116px;
        left: -65px;
    }
    .banner-fondo2 {
        padding: 20px 0px 40px;
    }
    .banner-fondo2 .contenedor .conteLeft {
        width: 100%;
        margin-left: 0px;
    }
    .banner-fondo1 h2, .banner-fondo2 h2 {
        margin: 10px 0px 25px;
    }
    .banner-fondo2::before {
        font-size: 50px;
        line-height: 50px;
    }
    .banner-fondo3 {
        padding: 120px 0px 40px;
    }
    .banner-fondo4, .banner-fondo5{
        padding: 15px 0px 20px;
    }
    .banner-fondo4 :nth-child(1) {
        width: 100%;
    }
    .banner-fondo4 .diagrama {
        padding-left: 0px;
        padding-top: 30px; 
   }
    .col2 li, .col3 li, .col4 li {
        width: 100%;
    }
    .banner-fondo5 .flex {
        display: block;
        text-align: center;
    }
    .banner-fondo5 p.textLeft {
        margin-top: 10px;
        padding-left: 0px;
    }
    .banner-fondo5 .flex img {
        margin: auto;
    }
    .banner-fondo5 .contenedor {
        background-color: #fff;
    }
    .banner-fondo5 .contenedor::before {
       display: none;
    }
    
    .banner-fondo5 .contenedor::after {
        display: none;
    }
}